<html>

<head>
    <style>
        body {
            background-color: #fcdf5d;
            color: rgb(75, 99, 238);
            font-family: Georgia, 'Times New Roman', Times, serif;
        }

        h1 {
            font-size: 48px;
        }

        p, a {
            font-size: 24px;
        }

        a {
            color: rgb(255, 0, 191);
            font-weight: bold;
        }

        .container {
            max-width: 800px;
            margin: 100px auto;
        }
    </style>
</head>

<body>
    <div class="container">
        {% block container %}

        {% endblock %}
    </div>
</body>

</html>
